<mat-expansion-panel
  [expanded]="expanded"
  (opened)="openControlPanel = true"
  [ngClass]="{ 'bg-inactif': entity.inactif }"
>
  <mat-expansion-panel-header collapsedHeight="70px">
    <mat-panel-title class="gap-x-2 text-base">
      <mat-icon class="text-primary">{{ entity.icon }}</mat-icon>
      <span>{{ entity.name }}</span>
      <span *ngIf="entity.description" class="text-bodytext">
        - {{ entity.description }}
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ng-container
    *ngIf="{
      controlStatistics: controlStatistics$ | async,
      contreVisiteStatistics: contreVisiteStatistics$ | async,
      statisticsErrors: statisticsErrors$ | async
    } as _"
  >
    <mat-accordion multi="true" class="flex flex-col gap-2.5">
      <!-- Activité par type de contrôle -->
      <mat-expansion-panel
        #controlPanel
        class="bg-black/5"
        [expanded]="openControlPanel"
        (opened)="!_.controlStatistics?.length && getControlStatistics(entity)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span *ngIf="entity.type === statisticsEntityTypeEnum.Centre">
              {{ 'statistics.activityCenter' | translate }}
            </span>
            <span *ngIf="entity.type === statisticsEntityTypeEnum.Recap">
              {{ 'statistics.activityRecap' | translate }}
            </span>
            <span *ngIf="entity.type === statisticsEntityTypeEnum.Controleur">
              {{ 'statistics.activityController' | translate }}
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-statistics-table
          *ngIf="_.controlStatistics?.length; else emptyData"
          [data]="_.controlStatistics"
          [columns]="controlStatisticsColumns"
          [showFooter]="true"
        />
      </mat-expansion-panel>

      <!-- Contre visite par type de contrôle -->
      <mat-expansion-panel
        #contreVisitePanel
        *ngIf="entity.type !== statisticsEntityTypeEnum.Recap"
        class="bg-black/5"
        (opened)="
          !_.contreVisiteStatistics?.length && getContreVisiteStatistics(entity)
        "
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span *ngIf="entity.type === statisticsEntityTypeEnum.Centre">
              {{ 'statistics.contreVisiteCenter' | translate }}
            </span>
            <span *ngIf="entity.type === statisticsEntityTypeEnum.Controleur">
              {{ 'statistics.contreVisiteController' | translate }}
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-statistics-table
          *ngIf="_.contreVisiteStatistics?.length; else emptyData"
          [data]="_.contreVisiteStatistics"
          [columns]="contreVisiteStatisticsColumns"
        />
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</mat-expansion-panel>

<ng-template #emptyData>
  <div class="text-center">{{ 'commun.noDataFound' | translate }}</div>
</ng-template>
