<div class="flex flex-col gap-y-2.5">
  <div class="flex justify-end" *ngIf="(isReadOnly$ | async) === false">
    <button
      mat-raised-button
      color="primary"
      (click)="addNewRow()"
      [disabled]="isNewRow || !!contactToEdit"
    >
      {{ 'commun.ajouter' | translate }}
    </button>
  </div>
  <form
    [formGroup]="contactForm"
    appMarkRequiredFormControlAsDirty
    [updateRequiredStatus$]="updateRequiredStatus$"
  >
    <ng-container formArrayName="contactRowsForm">
      <div class="responsive-table editable-table">
        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="civilite">
            <mat-header-cell *matHeaderCellDef mat-sort-header="civilite_id">
              {{ 'commun.civilite' | translate }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <span class="header-label">
                {{ 'commun.civilite' | translate }}
              </span>
              <span *ngIf="!element.controls.isEditable.value">
                {{
                  (element.controls.civilite_id.value | civilite | async)
                    ?.libelle_reduit
                }}
              </span>
              <mat-form-field *ngIf="!!element.controls.isEditable.value">
                <mat-select
                  formControlName="civilite_id"
                  panelClass="lg:w-40 lg:absolute"
                >
                  <mat-option
                    *ngFor="let civilite of civilites$ | async"
                    [value]="civilite.id"
                  >
                    {{ civilite.libelle_complet }}
                  </mat-option>
                  <mat-option
                    *ngIf="
                      element | civilite : element.value.civilite_id | async
                    "
                    [value]="
                      (element | civilite : element.value.civilite_id | async)
                        ?.id
                    "
                  >
                    {{
                      (element | civilite : element.value.civilite_id | async)
                        ?.libelle_complet
                    }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="nom">
            <mat-header-cell *matHeaderCellDef mat-sort-header="nom">
              {{ 'commun.nom' | translate }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <span class="header-label">
                {{ 'commun.nom' | translate }}
              </span>
              <span *ngIf="!element.controls.isEditable.value">
                {{ element.controls.nom.value }}
              </span>
              <mat-form-field *ngIf="!!element.controls.isEditable.value">
                <input matInput type="text" formControlName="nom" />
                <mat-error>
                  {{ element.controls.nom.errors | error }}
                </mat-error>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="prenom">
            <mat-header-cell *matHeaderCellDef mat-sort-header="prenom">
              {{ 'commun.prenom' | translate }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <span class="header-label">
                {{ 'commun.prenom' | translate }}
              </span>
              <span *ngIf="!element.controls.isEditable.value">
                {{ element.controls.prenom.value }}
              </span>
              <mat-form-field *ngIf="!!element.controls.isEditable.value">
                <input matInput type="text" formControlName="prenom" />
                <mat-error>
                  {{ element.controls.prenom.errors | error }}
                </mat-error>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fonction">
            <mat-header-cell *matHeaderCellDef mat-sort-header="fonction">
              {{ 'commun.fonction' | translate }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <span class="header-label">
                {{ 'commun.fonction' | translate }}
              </span>
              <span *ngIf="!element.controls.isEditable.value">
                {{ element.controls.fonction.value }}
              </span>
              <mat-form-field *ngIf="!!element.controls.isEditable.value">
                <input matInput type="text" formControlName="fonction" />
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fixe">
            <mat-header-cell *matHeaderCellDef mat-sort-header="fixe">
              {{ 'commun.teleFix' | translate }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <span class="header-label">
                {{ 'commun.teleFix' | translate }}
              </span>
              <span *ngIf="!element.controls.isEditable.value">
                {{ element.controls.fixe.value }}
              </span>
              <mat-form-field *ngIf="!!element.controls.isEditable.value">
                <input matInput type="text" formControlName="fixe" />
                <mat-error>
                  {{ element.controls.fixe.errors | error : 'phone' }}
                </mat-error>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef mat-sort-header="mobile">
              {{ 'commun.mobile' | translate }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <span class="header-label">
                {{ 'commun.mobile' | translate }}
              </span>
              <span *ngIf="!element.controls.isEditable.value">
                {{ element.controls.mobile.value }}
              </span>
              <mat-form-field *ngIf="!!element.controls.isEditable.value">
                <input matInput type="text" formControlName="mobile" />
                <mat-error>
                  {{ element.controls.mobile.errors | error : 'phone' }}
                </mat-error>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header="email"
              class="flex-[1_1_10%]"
            >
              {{ 'commun.email' | translate }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
              class="flex-[1_1_10%]"
            >
              <span class="header-label">
                {{ 'commun.email' | translate }}
              </span>
              <span *ngIf="!element.controls.isEditable.value">
                {{ element.controls.email.value }}
              </span>

              <mat-form-field *ngIf="!!element.controls.isEditable.value">
                <input matInput type="text" formControlName="email" />
                <mat-error>
                  {{ element.controls.email.errors | error : 'email' }}
                </mat-error>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="recoit_facture">
            <mat-header-cell *matHeaderCellDef mat-sort-header="recoit_facture">
              {{ 'client.receptionFactureReleve' | translate }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <span class="header-label">
                {{ 'client.receptionFactureReleve' | translate }}
              </span>
              <span *ngIf="!element.controls.isEditable.value">
                <mat-icon
                  *ngIf="element.controls.recoit_facture.value"
                  class="font-bold text-success"
                >
                  check
                </mat-icon>
                <mat-icon
                  *ngIf="!element.controls.recoit_facture.value"
                  color="warn"
                  class="font-bold"
                >
                  close
                </mat-icon>
              </span>
              <mat-slide-toggle
                *ngIf="!!element.controls.isEditable.value"
                formControlName="recoit_facture"
                color="primary"
              ></mat-slide-toggle>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="recoit_commercial">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header="recoit_commercial"
            >
              {{ 'client.receptionCommunCommerciale' | translate }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <span class="header-label">
                {{ 'client.receptionCommunCommerciale' | translate }}
              </span>
              <span *ngIf="!element.controls.isEditable.value">
                <mat-icon
                  *ngIf="element.controls.recoit_commercial.value"
                  class="font-bold text-success"
                >
                  check
                </mat-icon>
                <mat-icon
                  *ngIf="!element.controls.recoit_commercial.value"
                  color="warn"
                  class="font-bold"
                >
                  close
                </mat-icon>
              </span>
              <mat-slide-toggle
                *ngIf="!!element.controls.isEditable.value"
                formControlName="recoit_commercial"
                color="primary"
              ></mat-slide-toggle>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="recoit_relance">
            <mat-header-cell *matHeaderCellDef mat-sort-header="recoit_relance">
              {{ 'client.receptionRelance' | translate }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <span class="header-label">
                {{ 'client.receptionRelance' | translate }}
              </span>
              <span *ngIf="!element.controls.isEditable.value">
                <mat-icon
                  *ngIf="element.controls.recoit_relance.value"
                  class="font-bold text-success"
                >
                  check
                </mat-icon>
                <mat-icon
                  *ngIf="!element.controls.recoit_relance.value"
                  color="warn"
                  class="font-bold"
                >
                  close
                </mat-icon>
              </span>
              <mat-slide-toggle
                *ngIf="!!element.controls.isEditable.value"
                formControlName="recoit_relance"
                color="primary"
              ></mat-slide-toggle>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="recoit_bl">
            <mat-header-cell *matHeaderCellDef mat-sort-header="recoit_bl">
              {{ 'client.receptionBl' | translate }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <span class="header-label">
                {{ 'client.receptionBl' | translate }}
              </span>
              <span *ngIf="!element.controls.isEditable.value">
                <mat-icon
                  *ngIf="element.controls.recoit_bl.value"
                  class="font-bold text-success"
                >
                  check
                </mat-icon>
                <mat-icon
                  *ngIf="!element.controls.recoit_bl.value"
                  color="warn"
                  class="font-bold"
                >
                  close
                </mat-icon>
              </span>
              <mat-slide-toggle
                *ngIf="!!element.controls.isEditable.value"
                formControlName="recoit_bl"
                color="primary"
              ></mat-slide-toggle>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              {{ 'commun.actions' | translate }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <button
                mat-icon-button
                (click)="saveRow(element, i)"
                [disabled]="!!element.invalid"
                *ngIf="!!element.controls.isEditable.value"
                color="primary"
              >
                <mat-icon>check_circle</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                *ngIf="!!element.controls.isEditable.value"
                (click)="cancelChanges(element, i)"
              >
                <mat-icon>cancel</mat-icon>
              </button>
              <button
                mat-icon-button
                *ngIf="!element.controls.isEditable.value"
                color="primary"
                (click)="editRow(element, i)"
                [disabled]="!!(contactToEdit || isNewRow)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="deleteRow(element, i)"
                *ngIf="!element.controls.isEditable.value"
                color="warn"
                [disabled]="!!(contactToEdit || isNewRow)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns"></mat-row>
        </mat-table>
        <mat-paginator
          *ngIf="dataSource?.data.length > MIN_PAGE_SIZE_OPTIONS"
          [length]="dataSource?.data.length"
        ></mat-paginator>
      </div>
    </ng-container>
  </form>
</div>
