<mat-expansion-panel class="my-4 w-full">
  <mat-expansion-panel-header>
    <mat-panel-title class="justify-center">
      <h5 class="font-medium">
        {{ title | translate }}
      </h5>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="responsive-table pt-4">
    <mat-table [dataSource]="factures">
      <ng-container matColumnDef="nom_client">
        <mat-header-cell *matHeaderCellDef>
          {{ 'commun.nomClient' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'commun.nomClient' | translate }}
          </span>
          {{ element.nom_client }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="numero_facture">
        <mat-header-cell *matHeaderCellDef>
          {{ 'commun.numFacture' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'commun.numFacture' | translate }}
          </span>
          {{ element.numero_facture }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="montant_ttc">
        <mat-header-cell *matHeaderCellDef>
          {{ 'gestion.clotureCaisse.montantTTCFacture' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'gestion.clotureCaisse.montantTTCFacture' | translate }}
          </span>
          {{ element.montant_ttc | number : DECIMAL_NUMBER_PIPE_FORMAT }} €
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type_reglement">
        <mat-header-cell *matHeaderCellDef>
          {{ 'gestion.factures.typeReglement' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'gestion.factures.typeReglement' | translate }}
          </span>
          {{ element.type_reglement }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="reference_reglement">
        <mat-header-cell *matHeaderCellDef>
          {{ 'commun.reference' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'commun.reference' | translate }}
          </span>
          {{ element.reference_reglement }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="montant_regle">
        <mat-header-cell *matHeaderCellDef>
          {{ 'gestion.reglements.montantRegle' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'gestion.reglements.montantRegle' | translate }}
          </span>
          {{ element.montant_regle | number : DECIMAL_NUMBER_PIPE_FORMAT }}
          €
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="montant_restant">
        <mat-header-cell *matHeaderCellDef>
          {{ 'gestion.clotureCaisse.soldeARegler' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'gestion.clotureCaisse.soldeARegler' | translate }}
          </span>
          {{ element.montant_restant | number : DECIMAL_NUMBER_PIPE_FORMAT }}
          €
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date_facture">
        <mat-header-cell *matHeaderCellDef>
          {{ 'gestion.factures.dateFact' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'gestion.factures.dateFact' | translate }}
          </span>
          {{ element.date_facture | date : 'dd/MM/yyyy' }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date_reglement">
        <mat-header-cell *matHeaderCellDef>
          {{ 'gestion.reglements.dateReglement' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'gestion.reglements.dateReglement' | translate }}
          </span>
          {{ element.date_reglement | date : 'dd/MM/yyyy' }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns"></mat-row>
    </mat-table>
    <div class="p-4 text-center" *ngIf="factures?.length === 0">
      {{ 'gestion.clotureCaisse.aucuneFacture' | translate }}
    </div>
  </div>
</mat-expansion-panel>
