$ws-dark-blue: (
  50: #e2e9f2,
  100: #b6c8de,
  200: #86a4c8,
  300: #557fb2,
  400: #3063a2,
  500: #0c4891,
  600: #0a4189,
  700: #08387e,
  800: #063074,
  900: #032162,
  A100: #92adff,
  A200: #5f86ff,
  A400: #2c60ff,
  A700: #134cff,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #fff,
    A700: #fff,
  ),
);

$ws-red: (
  50: #fce0e1,
  100: #f8b3b3,
  200: #f38081,
  300: #ee4d4f,
  400: #ea2629,
  500: #e60003,
  600: #e30003,
  700: #df0002,
  800: #db0002,
  900: #d50001,
  A100: #fffcfc,
  A200: #ffc9c9,
  A400: #ff9696,
  A700: #ff7d7d,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);
