<mat-card>
  <mat-card-content>
    <form
      [formGroup]="searchForm"
      appMarkRequiredFormControlAsDirty
      class="flex flex-col"
    >
      <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-5 2xl:grid-cols-3">
        <mat-form-field class="lg:basis-1/2" subscriptSizing="dynamic">
          <mat-label>{{ 'commun.searchPeriod' | translate }}</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              appCustomDateMaskDirective
              formControlName="date_debut"
              [placeholder]="'commun.du' | translate"
            />
            <input
              matEndDate
              appCustomDateMaskDirective
              formControlName="date_fin"
              [placeholder]="'commun.au' | translate"
            />
          </mat-date-range-input>
          <mat-hint>{{ 'commun.dateFormatHint' | translate }}</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker" />
          <mat-date-range-picker #picker />

          <mat-error
            appFormControlError
            *ngIf="searchForm.errors"
            [errors]="dateRangeErrors"
            pattern="emptyInterval"
          />
          <mat-error
            appFormControlError
            *ngIf="searchForm.controls.date_debut.errors as startDateErrors"
            [errors]="startDateErrors"
            field="startDate"
          />
          <mat-error
            appFormControlError
            *ngIf="searchForm.controls.date_fin.errors as endDateErrors"
            [errors]="endDateErrors"
            field="endDate"
          />
        </mat-form-field>
      </div>
      <div class="flex flex-1 items-center justify-end gap-2.5">
        <button
          mat-raised-button
          color="accent"
          (click)="exportSapTuv()"
          [disabled]="searchForm.invalid"
        >
          {{ 'commun.exporter' | translate }}
        </button>
        <button
          mat-icon-button
          color="primary"
          [matTooltip]="'commun.reinitialiseRecherche' | translate"
          (click)="resetSearchForm()"
        >
          <mat-icon>autorenew</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
