<mat-card>
  <mat-card-content>
    <form [formGroup]="searchForm" appMarkRequiredFormControlAsDirty class="flex flex-col">
      <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-5 2xl:grid-cols-3">
        <mat-form-field class="lg:basis-1/2" subscriptSizing="dynamic">
          <mat-label>{{ 'commun.searchPeriod' | translate }}</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              appCustomDateMaskDirective
              formControlName="date_reglement_start"
              [placeholder]="'commun.du' | translate"
            />
            <input
              matEndDate
              appCustomDateMaskDirective
              formControlName="date_reglement_end"
              [placeholder]="'commun.au' | translate"
            />
          </mat-date-range-input>
          <mat-hint>{{ 'commun.dateFormatHint' | translate }}</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="searchForm.errors">
            {{ searchForm.errors | error : 'emptyInterval' }}
          </mat-error>
          <mat-error *ngIf="searchForm.controls.date_reglement_start.errors">
            {{
              searchForm.controls.date_reglement_start.errors
                | error : 'startDate'
            }}
          </mat-error>
          <mat-error
            *ngIf="searchForm.controls.date_reglement_end.errors"
            class="pb-2"
          >
            {{
              searchForm.controls.date_reglement_end.errors | error : 'endDate'
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appFieldControlLabel>
          <mat-label>
            {{ 'commun.typeDeReglement' | translate }}
          </mat-label>
          <mat-select formControlName="mode_reglement_id">
            <mat-option [value]="-1">{{ 'commun.all' | translate }}</mat-option>
            <mat-option
              *ngFor="let modeReglement of modesReglement$ | async"
              [value]="modeReglement.id"
            >
              {{ modeReglement.code }} - {{ modeReglement.libelle }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appFieldControlLabel>
          <mat-label>
            {{ 'gestion.reglements.referenceDePaiement' | translate }}
          </mat-label>
          <input formControlName="reference" matInput />
        </mat-form-field>

        <mat-form-field appFieldControlLabel>
          <mat-label>
            {{ 'commun.numFacture' | translate }}
          </mat-label>
          <input formControlName="numero_facture" matInput />
        </mat-form-field>

        <mat-form-field appFieldControlLabel>
          <mat-label>
            {{ 'commun.nomClient' | translate }}
          </mat-label>
          <input formControlName="nom_client" matInput />
        </mat-form-field>

        <mat-form-field appFieldControlLabel>
          <mat-label>{{ 'commun.typeClient' | translate }}</mat-label>
          <mat-select formControlName="type_client">
            <mat-option *ngFor="let type of typeClient" [value]="type.code">
              {{ type.libelle }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex flex-1 items-center justify-end gap-2.5">
        <button
          mat-raised-button
          color="accent"
          (click)="search()"
          [disabled]="searchForm.invalid"
        >
          {{ 'commun.search' | translate }}
        </button>
        <button
          mat-icon-button
          color="primary"
          [matTooltip]="'commun.reinitialiseRecherche' | translate"
          (click)="resetSearchForm()"
        >
          <mat-icon>autorenew</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
