<ng-container
  *ngIf="{
    remainingTime: remainingTime$ | async
  } as _"
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="text-center">
      <div class="">
        <p class="font-bold">
          {{ 'authentication.resetPassword' | translate }}
        </p>
      </div>
      <div class="my-5">
        {{ 'authentication.putYourLoginToReinitializePassword' | translate }}
      </div>
    </div>
    <div class="flex flex-col">
      <mat-form-field appFieldControlLabel>
        <mat-label>{{ 'commun.login' | translate }}</mat-label>
        <input matInput formControlName="login" />
      </mat-form-field>
      <button
        class="my-5"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid || !!_.remainingTime"
      >
        {{ 'commun.send' | translate }}
      </button>
      <div *ngIf="_.remainingTime" class="bg-warn text-center text-white">
        {{ 'authentication.tooManyRequest' | translate }} :
        {{ displayRemainingTime(_.remainingTime) }}
      </div>
      <div
        class="bg-warn text-center text-white"
        *ngIf="
          !_.remainingTime && (error$ | async)?.messageToShow as messageToShow
        "
      >
        {{ messageToShow }}
      </div>
      <div
        class="bg-success text-center text-white"
        *ngIf="successMessage$ | async as successMessage"
      >
        {{ successMessage }}
      </div>
    </div>
  </form>
</ng-container>
