<mat-expansion-panel class="my-4 w-full">
  <mat-expansion-panel-header>
    <mat-panel-title class="justify-center">
      <h5 class="font-medium">
        {{ title | translate }}
      </h5>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="responsive-table pt-4">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nom_client">
        <mat-header-cell *matHeaderCellDef>
          {{ 'commun.nomClient' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'commun.nomClient' | translate }}
          </span>
          {{ element.nom_client }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="numero_facture">
        <mat-header-cell *matHeaderCellDef>
          {{ 'commun.numFacture' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'commun.numFacture' | translate }}
          </span>
          {{ element.numero_facture }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="montant_ht">
        <mat-header-cell *matHeaderCellDef>
          {{ 'commun.HT' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'commun.HT' | translate }}
          </span>
          {{ element.montant_ht | number : DECIMAL_NUMBER_PIPE_FORMAT }} €
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="montant_tva">
        <mat-header-cell *matHeaderCellDef>
          {{ 'commun.TVA' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'commun.TVA' | translate }}
          </span>
          {{ element.montant_tva | number : DECIMAL_NUMBER_PIPE_FORMAT }} €
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="montant_ttc">
        <mat-header-cell *matHeaderCellDef>
          {{ 'commun.TTC' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'commun.TTC' | translate }}
          </span>
          {{ element.montant_ttc | number : DECIMAL_NUMBER_PIPE_FORMAT }} €
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type_reglement">
        <mat-header-cell *matHeaderCellDef>
          {{ 'gestion.factures.typeReglement' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'gestion.factures.typeReglement' | translate }}
          </span>
          {{ element.type_reglement }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="montant_reglement">
        <mat-header-cell *matHeaderCellDef>
          {{ 'gestion.factures.montantReglement' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'gestion.factures.montantReglement' | translate }}
          </span>
          {{ element.montant_reglement | number : DECIMAL_NUMBER_PIPE_FORMAT }}
          €
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="observation">
        <mat-header-cell *matHeaderCellDef>
          {{ 'gestion.clotureCaisse.observation' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="header-label">
            {{ 'gestion.clotureCaisse.observation' | translate }}
          </span>
          {{ element.observation }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns"></mat-row>
    </mat-table>
    <mat-paginator
      *ngIf="dataSource?.data.length > MIN_PAGE_SIZE_OPTIONS"
    ></mat-paginator>
    <div class="p-4 text-center" *ngIf="detailFactures?.length === 0">
      {{ noDataText | translate }}
    </div>
  </div>
</mat-expansion-panel>
